body {
  background-color: #333333;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) and (min-width: 420px){

}
.main_container {
    display: grid;
    grid-template-columns: repeat(40, 2.5%);
    grid-template-rows: repeat(60, 1.6%);
    width: 100%;
    height: 180vw;
  }

.navbar {
     display: inline-block;
     background-color: red;

     grid-row-start: 1;
     grid-row-end: 7;
     grid-column-start: 1;
     grid-column-end: 41;
 }



#shore {
  display: inline-block;
     background-color: green;
  z-index: 1;

     grid-row-start: 15;
     grid-row-end: 25;
     grid-column-start: 3;
     grid-column-end: 17;
}

#shore_bar {
     display: inline-block;
     background-color: green;

     grid-row-start: 19;
     grid-row-end: 21;
     grid-column-start: 17;
     grid-column-end: 22;
}

#shore_switch {

  display: inline-block;
     background-color: green;

     grid-row-start: 19;
     grid-row-end: 21;
     grid-column-start: 22;
     grid-column-end: 28;
}

#shore_main_bus_drop {
  display: inline-block;
     background-color: green;

     grid-row-start: 19;
     grid-row-end: 21;
     grid-column-start: 28;
     grid-column-end: 35;
}

#port_gen {
  display: inline-block;
     background-color: orange;

     grid-row-start: 30;
     grid-row-end: 40;
     grid-column-start: 3;
     grid-column-end: 17;
}

#port_bar {
     display: inline-block;
     background-color: green;

     grid-row-start: 34;
     grid-row-end: 36;
     grid-column-start: 17;
     grid-column-end: 22;
}

#port_switch {

  display: inline-block;
     background-color: green;

     grid-row-start: 34;
     grid-row-end: 36;
     grid-column-start: 22;
     grid-column-end: 28;
}

#port_main_bus_drop {
  display: inline-block;
     background-color: green;

     grid-row-start: 34;
     grid-row-end: 36;
     grid-column-start: 28;
     grid-column-end: 35;
}

#stbd_bar {
     display: inline-block;
     background-color: green;

     grid-row-start: 49;
     grid-row-end: 51;
     grid-column-start: 17;
     grid-column-end: 22;
}

#stbd_switch {

  display: inline-block;
     background-color: green;

     grid-row-start: 49;
     grid-row-end: 51;
     grid-column-start: 22;
     grid-column-end: 28;
}

#stbd_gen {
  display: inline-block;
     background-color: salmon;

     grid-row-start: 45;
     grid-row-end: 55;
     grid-column-start: 3;
     grid-column-end: 17;
}

#stbd_main_bus_drop {
  display: inline-block;
     background-color: green;

     grid-row-start: 49;
     grid-row-end: 51;
     grid-column-start: 28;
     grid-column-end: 35;
}

#main_bus_bar {
  display: inline-block;
     background-color: green;

     grid-row-start: 16;
     grid-row-end: 52;
     grid-column-start: 35;
     grid-column-end: 37;
}

.power_source {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servo {
  background-color: blue;
  width: 20px;
  height: 20px;
  margin: auto;
  border-radius: 50%;
}

.switchboard {
  display: inline-block;
     background-color: green;

     grid-row-start: 10;
     grid-row-end: 16;
     grid-column-start: 31;
     grid-column-end: 40;
}

.footer_bar {
  display: inline-block;
     background-color: navy;

     grid-row-start: 56;
     grid-row-end: 61;
     grid-column-start: 1;
     grid-column-end: 41;
}

