<link rel="stylesheet" href="../static/css/main.css">

<div class="power_container">
    <div class="power_device" id="port_display"></div>
<div class="power_device" id="stbd_display"></div>
<div class="power_device" id="converter_display"></div>
</div>
<div class="btn_container">
    <button id="shore_on">Shore</button>
    <button id="shore_off">Shore off</button>
    <button id="turn_on">ON</button>
    <button id="turn_off">OFF</button>
    <button id="transfer_to_gen">Transfer to gen</button>
    <button id="transfer_to_shore">Transfer to shore</button>
    <button id="port_master">Port master</button>
    <button id="stbd_master">STBD master</button>
</div>

<script src="../static/js/main.js"></script>