<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Asea PMS</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="main_container">
    <div class="top_bar"></div>
    <div class="power_source_status">
        <div id="port_display" class="port_status">
            
        </div>
        <div id="converter_display" class="converter_status">
            
        </div>
        <div id="stbd_display" class="stbd_status">
            
        </div>
    </div>
    <div class="selector">
        <div class="wrapper">

            <div class="menu">
              <a href="#" class="one">G1</a>
              <a href="#" class="two">SHO</a>
              <a href="#" class="three">G2</a>
              <a href="#" class="four">PAR</a>
        
              <div class="circle">
                <ul>
                  <li>G1</li>
                  <li>SH</li>
                  <li>G2</li>
                  <li>PAR</li>
                </ul>
              </div>
        
            </div>
          </div>
    </div>
    <div class="main_bus"></div>
    <div id="switchboard">
        <div class="modal"></div>
    </div>
    <div class="footer_bar"></div>
</div>
<script src="../static/js/main.js"></script>
</body>
</html>